.background {
    width: 480px;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/img20-2.jpg);
    padding: 118px 60px;
}

.background__text {
    font-family: 'Roboto'; 
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.background__button {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: $accent-color;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    border-radius: 5px;
    padding: 10px 32px;
    margin-bottom: 200x;
    border: $accent-color;
}