.background {
    width: 480px;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/index/img20-2.jpg);
    padding: 118px 60px;

    @media screen and (min-width: 768px) {
        width: 768px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/index/img20-3.jpg);
        padding: 118px 204px;
    }

    @media screen and (min-width: 1200px) {
        width: 1600px;
        height: 600px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/index/img20.jpg);
        background-size: cover;
        padding: 200px 452px;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/index/img20@2x.jpg);
            }
    }
}

    
        

.background__text {
    font-family: 'Roboto'; 
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.4;
    }
}

.background__button {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: $accent-color;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    border-radius: 5px;
    padding: 10px 32px;
    margin-bottom: 200x;
    border: $accent-color;
}