*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1600px;
    height: 80px;
    background-color: #FFFFFF;
    margin-bottom: 1px;
}

.logo {
    margin-left: 150px;
    margin-right: 90px;
}


.header__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-right: 330px;
    padding-inline-start: 0;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
    padding-inline-start: 0;
    list-style-type: none;
}

.logo__blue--header {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $accent-color;
    text-decoration: none;
}

.logo__black--header {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
    margin-left: -6px;
}



.header__item {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: $accent-color;
    }
}


.header__item.studio.active {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: $accent-color;
        border-radius: 2px;
        opacity: 1;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover::after {
        opacity: 1;
    }
}


.header__item.portfolio.active {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: $accent-color;
        border-radius: 2px;
        opacity: 1;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover::after {
        opacity: 1;
    }
}


.list__mail {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: $accent-color;

        & .svg__mail {
            fill: $accent-color;
        }
    }
}

.list__phone {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    margin-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: $accent-color;

        & .svg__phone {
            fill: $accent-color;
        }
    }
}


.svg__mail {
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg__phone {
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}